body, html {
    background-color:hsl(183, 100%, 96%);
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding:0px;
    width: 100%;
}
.wrapper {
width: 768px;
margin:auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-template-areas: 
      "header header header header header header"
      "game-title game-title game-title game-title game-title game-title"
      "player player . .  computer computer "
      "player-hand player-hand   score score computer-hand computer-hand"
      "rock rock paper paper scissors scissors";

text-align:center; /*!! why does this align all content to center? interesting... !!*/
}

.header {
    grid-area: header;
}

.header-text {
    text-align:center;
    font-size:4rem;
}

.game-title{
    grid-area: game-title;

}
.game-title-text {
    padding:0px;
    margin:0px;
    font-size:2rem;
}

.player-wrapper {

    grid-area: player;
}

.score {
    grid-area: score;
}

.computer-wrapper {
    grid-area: computer;

}



.player, .computer {
font-size:2rem;
}


.player-hand {
    margin:0px;
}

.player-hand-wrapper {
    grid-area: player-hand;

}
.computer-hand-wrapper{
    grid-area: computer-hand;
}

.computer-hand{
    transform: scaleX(-1);
}


.rock {
    grid-area: rock;
}

.paper {
    grid-area: paper;
}


.scissors {
    grid-area: scissors;
}

/* CSS */
.button {
      font-family: 'Roboto', sans-serif;
      font-size: 1.3rem;
      letter-spacing: 2px;
      text-decoration: none;
      color: #000;
      background-color:white;
      border-radius:10px;
      text-align:center;
      line-height: 35px;
      cursor: pointer;
      border: 3px solid;
      width: 220px;
      padding-bottom: 0.25em;
      box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
      position: relative;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      
    }
    
    .button:active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }
    
    